{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "jsx-a11y", "prettier", "react-hooks"],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "no-console": 0,
    "consistent-return": 0,
    "no-nested-ternary": 0,
    "no-constant-condition": [1, { "checkLoops": false }],
    // Import
    "import/newline-after-import": 1,
    "import/no-duplicates": 1,
    "import/no-useless-path-segments": 1,
    "import/order": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    // React
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": 0,
    // Typescript
    "@typescript-eslint/explicit-function-return-type": [1, { "allowExpressions": true }],
    "@typescript-eslint/semi": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/naming-convention": 1
  }
}
